/*
*
*@Autor Paulo Ribeiro
*@version beta 0.1
*
*/

/*================================layout======================================*/

/*============ barra de navegacao ===============*/

html, body,.capa {
	height: 100%;

}

body {
	
	
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(8, 69, 149);
	background-position: center;
	background-size: 500px;
	
}

.img-logo {
	height: 50px;
	width: 260px;
	display: block;
	background: url('../imagens/logo/play-logo.png')no-repeat;
	/*border: 1px solid red;*/
	background-size: contain;
	color: transparent;
}

nav.nav-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand {
	padding: 1px 15px;
}

/*-- imagem de capa --*/

.capa {
	border: 1px solid red;
	display: table;
	width: 100%;
	padding-left: 40%;
}

.texto-capa {
	text-align: center;
	color: snow;
	display: table-cell;
	vertical-align: middle;
}

.navbar-inverse .navbar-nav>li>#a {
	color: snow;
}

.navbar-inverse .navbar-nav>li>#a:hover {
	color: rgb(109, 139, 201);
}

.navbar-inverse .navbar-nav>li>#a2 {
	color: snow;
}

.navbar-inverse .navbar-nav>li>#a2:hover {
	color: rgb(215, 143, 189);
}

.navbar-inverse .navbar-nav>li>#a3 {
	color: snow;
}

.navbar-inverse .navbar-nav>li>#a3:hover {
	color: rgb(248, 78, 79);
}

.navbar-inverse .navbar-nav>li>#a4 {
	color: snow;
}

.navbar-inverse .navbar-nav>li>#a4:hover {
	color: rgb(45, 220, 155);
}

.navbar-inverse .navbar-nav>li>#a5 {
	color: snow;
}

.navbar-inverse .navbar-nav>li>#a5:hover {
	color: gold;
}

/*=========Botoes===========*/

.btn-custom {
	color: white;
	-webkit-border-radius: 500px;
	padding: 10px 35px;
	text-transform: uppercase;
	margin: 0px 15px;
	transition: background 0.4s;
}

.btn-azul {
	background: rgb(109, 139, 201);
}

.btn-azul:hover {
	background-color: rgb(215, 143, 189);
	color: white;
}

.btn-verde {
	background-color: rgb(45, 220, 155);
}

.btn-verde:hover {
	background-color: rgb(248, 78, 79);
	color: gold;

}

.btn-rosa {
	background-color: rgb(215, 143, 189);
}

.btn-rosa:hover {
	background-color: rgb(45, 220, 155);
	color: rgb(109, 139, 201);

}



/*===============================Tipografia================================*/

h1 {
	font-size: 100px;
	font-weight: 700;
	letter-spacing: -0.05em;
	margin-bottom: 50px;

}