/*
*
*@Autor Paulo Ribeiro
*@version beta 0.1
*
*/

/*================================layout======================================*/

/*============ barra de navegacao ===============*/

html, body,.capa {
	height: 100%;
	

}

body {
	
	background: url('../imagens/fundo/sega8_fundo.jpg')no-repeat;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(0, 73, 165);
	background-size: 700px;
	background-position: center;

}

.img-logo {
	height: 50px;
	width: 210px;
	display: block;
	background: url('../imagens/logo/sega8-logo.png')no-repeat;
	/*border: 1px solid red;*/
	background-size: contain;
	color: transparent;
}

nav.nav-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand {
	padding: 1px 15px;
}

/*-- imagem de capa --*/

.capa {
	
	display: table;
	width: 100%;
	padding-right: 59%;
}

.texto-capa {
	text-align: center;
	color: powderblue;
	display: table-cell;
	vertical-align: middle;
}

.navbar-inverse .navbar-nav>li>a {
	color: lightcyan;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: rgb(125, 236, 255);
}

/*=========Botoes===========*/

.btn-custom {
	color: deepskyblue;
	-webkit-border-radius: 500px;
	padding: 10px 35px;
	text-transform: uppercase;
	margin: 0px 15px;
	transition: background 0.4s;
}

.btn-custom2 {
	color: white;
	-webkit-border-radius: 500px;
	padding: 10px 75px;
	text-transform: uppercase;
	margin: 0px 15px;
	transition: background 0.4s;
}

.btn-tomato {
	background: lightsteelblue;
	color: gray;
}

.btn-tomato:hover {
	background-color: blue;
	color: white;
}

.btn-azul {
	background: rgb(125, 236, 255);
	color: rgb(0, 165, 179);
}

.btn-azul:hover {
	background-color: rgb(0, 88, 255);
	color: yellow;

}

.btn-sega {
	background: rgb(100,149,237);
}

.btn-sega:hover {
	background-color: blue;
	color: lightblue;
}

/*===============================Tipografia================================*/

.imagens-visual {
	
}

.Fonte-Letra {
	font-family: Helvetica, Arial, sans-serif;
	/*font-size: 12px;*/
}



/*=========== Media Query =============*/

/*--- Dispositivos Mínimos --- */
@media screen and (max-width: 767px) {
	.btn-custom {
		padding: 7px 7px;
		margin-bottom: 10px;
		
	}
	
	.btn-custom2 {
		padding: 7px 7px;
		margin-bottom: 10px;
		
	}
	
	.imagens-visual {
		width: 179px; 
		height: 39px;
	}
	
	nav.nav-transparente {
		padding: 1px 0px;
	}
	
	.Fonte-Letra {
		font-size: 11px;
	}
}

/*--- Dispositivos Pequenos ---*/
@media screen and (min-width: 768px) {
	.btn-custom {
		padding: 9px 9px;
		margin-bottom: 10px;
		
	}
	
	.btn-custom2 {
		padding: 9px 9px;
		margin-bottom: 10px;
		
	}
	
	.imagens-visual {
		width: 190px; 
		height: 41px;
		margin-top: 25px;
	}
	
	nav.nav-transparente {
		padding: 8px 0px;
	}
	
	.Fonte-Letra {
		font-size: 12px;
	}
}




/*--- Dispositivos Médios ---*/
@media screen and (min-width: 992px) {
	.btn-custom {
		padding: 10px 14px;
		margin-bottom: 10px;
	}
	
	.btn-custom2 {
		padding: 10px 14px;
		margin-bottom: 10px;
	}
	
	.imagens-visual {
		width: 199px;
		height: 46px;
		margin-top: 25px;
	}
	
	nav.nav-transparente {
		padding: 11px 0px;
	}
	
	.Fonte-Letra {
		font-size: 13px;
	}
	
}

/*--- Dispositivos Grandes ---*/
@media screen and (min-width: 1200px) {
	.btn-custom {
		padding: 10px 35px;
		margin-bottom: 10px;
	}
	
	.btn-custom2 {
		padding: 10px 35px;
		margin-bottom: 10px;
	}
	
	.imagens-visual {
		width: 220px;
		height: 46px;
		margin-top: 25px;
	}
	
	nav.nav-transparente {
		padding: 15px 0px;
	}
	
	.Fonte-Letra {
		font-size: 14px;
	}
}

/*=========== Fim Media Query =============*/

h1 {
	font-size: 100px;
	font-weight: 700;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}